.align-text-product {
    position: absolute;
    top: 150px;
    left: 600px;
}

.select-size-product {
    width: 200px;
}

.align-img-product {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
}